@import "reset.css";

body {
  background-color: #f6f9fc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 50px 0px;
}

.canvas {
  width: 700px;
  height: 700px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls {
  margin-top: 80px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls__btns {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

#jsSave {
  width: auto;
  grid-column: 1/4;
}

button {
  all: unset;
  cursor: pointer;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}

button:active {
  transform: scale(0.98);
}

.action {
  position: absolute;
  top: 235px;
  left: 160px;
}

.menu {
  position: absolute;
  /* top: 80px; */
  /* right: -10px; */
  padding: 20px;
  background: rgba(80, 80, 80);
  width: 200px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  text-align: center;
  visibility: hidden;
  opacity: 0;
}

.menu.active {
  visibility: visible;
  opacity: 1;
}

.action .menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 100px;
  width: 20px;
  height: 20px;
  background: rgba(80, 80, 80);
  transform: rotate(45deg);
}

.controls__colors {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0.25rem;
}

.controls__color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.controls__range {
  margin-bottom: 30px;
}

.clicked {
  background-color: rgb(207, 207, 207);
}